
<div class="country__item">
    <h1 class="card-title">{{name}} </h1>
          
    <h2 class="card-text"> Capital:{{capital}}</h2>
    <h2 class="card-text"> Population:{{population}}</h2>
    <h2 class="card-text"> Languages: </h2>
        <ul>{{#each languages}}
            <li>{{name}}</li>
            {{/each}}</ul>
            
      <img
      src={{flag}}
      class="flag__image"
    />
    
    </div>
